 {{#each data}}

<div class="celebrityStats" class="row">
    <div class="thumbnail">
        <img src="{{picture}}" alt="">
    </div>
    <div class="row-number">1</div>
    <div class="specifics">
        <div class="row-title"> {{name}} </div>
        <div class="row-description"> {{decription}} </div>
    </div>

    <div class="ratings">
        <div class="likes">
            <div class="head"></div>
            <div class="content"></div>
        </div>
        <div class="unlikes">
            <div class="head"></div>
            <div class="content"></div>
        </div>
    </div>
</div>

{{/each}}