@import url("https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
body {
  background: #272727;
  font-family: "montserrat", sans-serif; }

.container .box {
  margin: auto;
  position: absolute;
  top: 5%;
  left: calc(50% - 242px); }
  .container .box .box-head {
    display: inline-block;
    position: relative; }
    .container .box .box-head .title {
      position: absolute;
      text-align: center;
      background: #fff;
      line-height: 50px;
      bottom: 10px;
      left: 120px;
      width: 247px;
      height: 48px;
      padding: 4px;
      z-index: -1; }
      .container .box .box-head .title h1 {
        font-size: 28px;
        font-weight: 800;
        margin: 0;
        margin-left: 50px; }
  .container .box #ranking .main-box {
    min-height: 210px;
    background: #fff;
    width: 342px;
    margin-left: 32px; }
    .container .box #ranking .main-box .row {
      height: 67px;
      position: relative;
      padding: 15px;
      margin: 0; }
      .container .box #ranking .main-box .row .thumbnail {
        width: 66px;
        height: 66px;
        border: 4px solid #ba3638;
        border-radius: 100%;
        overflow: hidden; }
      .container .box #ranking .main-box .row .row-number {
        width: 20px;
        height: 20px;
        border-radius: 100%;
        font-weight: 800;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        border: 1px solid #707070;
        color: #707070;
        background: #fff;
        position: absolute;
        bottom: 10px;
        left: 70px;
        z-index: 1; }
      .container .box #ranking .main-box .row .specifics {
        display: inline-block;
        position: absolute;
        left: 100px;
        top: calc(50% - 18px); }
        .container .box #ranking .main-box .row .specifics .row-title {
          font-size: 18px;
          font-weight: 600;
          color: #be4344; }
        .container .box #ranking .main-box .row .specifics .row-description {
          font-size: 12px;
          color: #909090; }
      .container .box #ranking .main-box .row:hover {
        background: #ba3638; }
        .container .box #ranking .main-box .row:hover .specifics .row-title {
          color: #fff; }
        .container .box #ranking .main-box .row:hover .specifics .row-description {
          color: #000; }
        .container .box #ranking .main-box .row:hover .thumbnail {
          border-color: #fff; }
